In [1]:
import numpy as np
import pandas as pd

In [2]:
# 引入工程所需要的库
from pyecharts import online
online() # 使用远程 jshost

In [3]:
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

# 1. 数据总览

## 1.1 加载数据

In [4]:
# 原始数据路径
train_path = 'H://train_data.csv'
importance_feature_path = 'H://importance_feature_data.csv'
columns = pd.read_csv(importance_feature_path)

# 读取原始数据
# train_data-final数据
train_data = pd.read_csv(train_path)
train_data = train_data[list(columns['importance_feature'].values)+['hand']]

In [5]:
train_data.shape

(29710, 44)

观察前几行的源数据：

In [6]:
train_data.head()

,rankCount1,rankCount2,rankCount3,suitCount3,suitCount2,suitCount1,suitCount4,diff8_3,rankCount4,diff9_3,...,rank5,diff4_2,diff11_5,diff11_2,rank12,diff5_4,diff4_3,diff12_11,diff12_1,hand
0,5,0,0,5,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
1,5,0,0,0,0,0,5,0,0,0,...,0,0,1,1,1,0,0,0,0,1
2,5,0,0,0,5,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
3,5,0,0,0,0,5,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
4,5,0,0,0,0,5,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

数据信息总览：

In [7]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29710 entries, 0 to 29709
Data columns (total 44 columns):
rankCount1    29710 non-null int64
rankCount2    29710 non-null int64
rankCount3    29710 non-null int64
suitCount3    29710 non-null int64
suitCount2    29710 non-null int64
suitCount1    29710 non-null int64
suitCount4    29710 non-null int64
diff8_3       29710 non-null int64
rankCount4    29710 non-null int64
diff9_3       29710 non-null int64
diff9_4       29710 non-null int64
diff9_2       29710 non-null int64
diff10_5      29710 non-null int64
diff9_8       29710 non-null int64
diff10_9      29710 non-null int64
diff8_4       29710 non-null int64
diff11_3      29710 non-null int64
diff8_2       29710 non-null int64
diff3_1       29710 non-null int64
diff3_2       29710 non-null int64
diff7_1       29710 non-null int64
diff13_8      29710 non-null int64
diff12_7      29710 non-null int64
diff11_6      29710 non-null int64
diff7_2       29710 non-null int64
diff6_1       29710 non-null int64
diff13_9      29710 non-null int64
diff12_8      29710 non-null int64
diff8_6       29710 non-null int64
rank8         29710 non-null int64
diff11_1      29710 non-null int64
rank11        29710 non-null int64
diff13_12     29710 non-null int64
diff9_6       29710 non-null int64
rank5         29710 non-null int64
diff4_2       29710 non-null int64
diff11_5      29710 non-null int64
diff11_2      29710 non-null int64
rank12        29710 non-null int64
diff5_4       29710 non-null int64
diff4_3       29710 non-null int64
diff12_11     29710 non-null int64
diff12_1      29710 non-null int64
hand          29710 non-null int64
dtypes: int64(44)
memory usage: 10.0 MB

In [8]:
X = train_data.drop(['hand'],axis=1)
y = train_data.hand

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=54)

构建不同的基学习器，这里我们使用了RandomForest、AdaBoost、ExtraTrees、GBDT、DecisionTree、KNN、SVM七个基学习器：（这里的模型可以使用如上面的GridSearch方法对模型的超参数进行搜索选择

In [16]:

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import cross_val_score



et = ExtraTreesClassifier(n_estimators=150,max_depth=15,min_samples_leaf=2,verbose=0)
scores = cross_val_score(et, X, y, scoring='accuracy')
average_accuracy = np.mean(scores)*100
print('The average accuracy is {0:.10f}%'.format(average_accuracy))

The average accuracy is 100.0000000000%

In [11]:
#n_estimators的值

best_score = 0
best_param = 0
for param in range(50, 500, 50):
    et = ExtraTreesClassifier(n_estimators=param,max_depth=8,min_samples_leaf=2,verbose=0)
    scores = cross_val_score(et, X, y, scoring='accuracy')
    average_accuracy = np.mean(scores)*100
    print("Param: ", param)
    print('The average accuracy is {0:.10f}%'.format(average_accuracy))
    if best_score < average_accuracy:
        best_score = average_accuracy
        best_param = param
print("Best score: {0:.10f}%".format(best_score))
print('Best param: ', best_param)

('Param: ', 50)
The average accuracy is 96.1090317912%
('Param: ', 100)
The average accuracy is 96.1292032331%
('Param: ', 150)
The average accuracy is 96.2706207721%
('Param: ', 200)
The average accuracy is 96.1460450451%
('Param: ', 250)
The average accuracy is 96.1527824495%
('Param: ', 300)
The average accuracy is 96.1729776745%
('Param: ', 350)
The average accuracy is 96.1830718894%
('Param: ', 400)
The average accuracy is 96.1561494528%
('Param: ', 450)
The average accuracy is 96.1763548706%
Best score: 96.2706207721%
('Best param: ', 150)

In [14]:
#Max_depth的值

best_score = 0
best_param = 0
for param in range(12, 16, 1):
    et = ExtraTreesClassifier(n_estimators=150,max_depth=param,min_samples_leaf=2,verbose=0)
    scores = cross_val_score(et, X, y, scoring='accuracy')
    average_accuracy = np.mean(scores)*100
    print("Param: ", param)
    print('The average accuracy is {0:.10f}%'.format(average_accuracy))
    if best_score < average_accuracy:
        best_score = average_accuracy
        best_param = param
print("Best score: {0:.10f}%".format(best_score))
print('Best param: ', best_param)

('Param: ', 12)
The average accuracy is 98.8388730901%
('Param: ', 13)
The average accuracy is 99.8383872360%
('Param: ', 14)
The average accuracy is 100.0000000000%
('Param: ', 15)
The average accuracy is 100.0000000000%
Best score: 100.0000000000%
('Best param: ', 14)